model_name: "vinai/phobert-base-v2"
device: "cuda" # hoáº·c "cpu"

ner:
  max_len: 256
  batch_size: 16
  epochs: 10
  learning_rate: 2.0e-5
  num_labels: 0
  
re:
  max_len: 256
  batch_size: 16
  epochs: 10
  learning_rate: 2.0e-5
  num_labels: 0